<mat-toolbar class="toolbar_color">
  <mat-toolbar-row>
    <a>
      <img class="logo" src="../../../../assets/img/logo.png" alt="LOGO">
    </a>
    <span class="spacer"></span>
      <a mat-button class="header-button" routerLink="/">Home</a>
      <a mat-button class="header-button" routerLink="/portfolio">Portfolio</a>
      <a mat-button class="header-button" routerLink="/sobre">Sobre</a>
      <a mat-button class="header-button" routerLink="/contato">Contato</a>
  </mat-toolbar-row>
</mat-toolbar>

