.section__one {
  min-height: 100px;
  width: 100%;
  background-color: red;
}

.section__two {
  min-height: 100px;
  width: 100%;
  background-color: blue;
}

.section__three {
  min-height: 100px;
  width: 100%;
  background-color: green;
}
