  <ng-container class="container">
    <app-header></app-header>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="descricao__nome">M A G U I D  C H A Y I M</div>
          <h3 class="descricao__qualificacao">Web Developer and Designer</h3>
          <p class="descricao__experiencia">Lorem ipsum sit dolor amet, sic decide you´re ready to swallow all your pride, ´cause you see that I´m naked. I wanna push you move down, granted, shebizchut she said i don´t know...</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="../../../assets/img/profile.png" alt="My photo">
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>SOMETIMES I FEEL</mat-grid-tile>
      <mat-grid-tile>SOMETIMES I FUCK</mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list>
      <div class="tecnologias">

      </div>
    </mat-grid-list>

  </ng-container>




<app-footer></app-footer>
