@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: #000
}

#footer_content {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 3.5rem;
  margin-top: 3rem;
}

#footer_social_media a {
  text-decoration: none;
  color: #000;
  font-size: 30px;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #000;
}

#footer_social_media .footer-link i {
  font-size: 2rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list a {
  text-decoration: none;
  color: #000;
}

#footer-list .footer-link {
  color: #000;
  transition: all 0.4s;
}

#footer-list .footer-linl:hover {
  color: darkslateblue;
}

#footer_copyright {
  display: flex;
  justify-content: center;
}

#footer_subscribe a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
}

#footer_subscribe p {
  padding-top: 1rem;
}
