<footer>
  <div id="footer_content">
    <div id="footer_contacts">
      <img src="../../../../assets/img/logo.png" alt="LOGO">

      <div id="footer_social_media">
        <a href="https://github.com/Magdiel520" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a href="https://www.linkedin.com/in/magdiel-rotta-almeida-7786b9b1/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="https://api.whatsapp.com/send?phone=5511991858635" target="_blank"><fa-icon [icon]="faWhatsapp"></fa-icon></a>
      </div>
    </div>

    <ul class="footer-list">
      <li>
        <h3>Blog</h3>
      </li>
      <li>
        <a href="#" class="footer-link">Tech</a>
      </li>
      <li>
        <a href="#" class="footer-link">Tutoriais</a>
      </li>
      <li>
        <a href="#" class="footer-link">Novidades</a>
      </li>
    </ul>

    <ul class="footer-list">
      <li>
        <h3>Products</h3>
      </li>
      <li>
        <a href="#" class="footer-link">App</a>
      </li>
      <li>
        <a href="#" class="footer-link">Desktop</a>
      </li>
      <li>
        <a href="#" class="footer-link">Cloud</a>
      </li>
    </ul>

    <div id="footer_subscribe">
      <h3>Sejam bem vindos!</h3>
      <p>Sinta-se à vontade para entrar em contato! Basta clicar
        <a href="https://api.whatsapp.com/send?phone=5511991858635" target="_blank">
          <fa-icon [icon]="faWhatsapp"></fa-icon></a></p>
    </div>


  </div>
  <div id="footer_copyright">
    Desenvolvido por <strong><a routerLink="home"> &#169; Chayim Corp. </a>
  </strong>Todos os direitos reservados.
  </div>
</footer>
