<footer>
  <div id="footer_content">
    <div id="footer_contacts">
      <img class="logo_footer" src="" alt="Maguid Chayim | Developer">
      <p>Sua imagem sempre.</p>
      <div id="footer_social_media">
        <a href="#" class="footer_link" id="whatsapp">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" class="footer_link" id="linkedin">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="#" class="footer_link" id="github">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
