

<!-- <ul class="sci">
  <a href="https://github.com/Magdiel520" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
  <a href="https://www.linkedin.com/in/magdiel-rotta-almeida-7786b9b1/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
  <a href="https://api.whatsapp.com/send?phone=5511991858635" target="_blank"><fa-icon [icon]="faWhatsapp"></fa-icon></a>
</ul> -->


<!-- <span class="footer__direitos">
  Desenvolvido com
  <i class="material-icons v-middle">
    favorite
  </i>
  por <strong><a routerLink="home">Chayim Corp.</a></strong>
</span> -->
