<body>
  <div class="container">
    <div class="left_side">

      <div class="profileText">
        <div class="imgBx">
          <img src="../../../assets/img/perfilortodoxo.jpg" alt="imgBx">
        </div>
        <h2>Maguid Chayim<br><span>Web Developer and UX/UI</span></h2>
      </div>

      <div class="contactInfo">
        <h3 class="title">Contato</h3>
          <ul>

            <li>
              <span class="icon"></span>
              <span class="text">+55 11 9 91858635</span>
            </li>

            <li>
              <span class="icon"></span>
              <span class="text">rotta.aero@gmail.com</span>
            </li>

            <li>
              <span class="icon"></span>
              <span class="text">www.linkedin.com/me</span>
            </li>

            <li>
              <span class="icon"></span>
              <span class="text">www.mywebsite.com.br</span>
            </li>

            <li>
              <span class="icon"></span>
              <span class="text">Rua Ramon Barbancho, 70
                Casa 1 - Bairro Sesc - Suzano - São Paulo -
                Brasil
              </span>
            </li>

          </ul>
      </div>

      <div class="contactInfo education">
        <h3 class="title">Formação</h3>
          <ul>

            <li>
              <h5>20xx - 20xx</h5>
              <h4>Master Degree in Shit</h4>
              <h4>University Name</h4>
            </li>

            <li>
              <h5>20xx - 20xx</h5>
              <h4>Master Degree in Shit</h4>
              <h4>University Name</h4>
            </li>

            <li>
              <h5>20xx - 20xx</h5>
              <h4>Master Degree in Shit</h4>
              <h4>University Name</h4>
            </li>

          </ul>
      </div>

    </div>
    <div class="right_side"></div>
  </div>
</body>
